:root {
    --basic-background: #2F303A;
    --secondary-color: #2196F3;
    --basic-title: #fff;
    --basic-link: #212121;
    --basic-text: #757575;
    --footer-text-color: rgba(255, 255, 255, 0.60);
}
*{
    list-style: none;
}

a{
    text-decoration: none;
}
body{
    font-family: 'roboto', sans-serif;
}
.nav-link{
    color: var(--basic-link);
}
.nav-link:focus,
.nav-link:hover{
    color: var(--secondary-color);
}
.scndheader{
    background-color: var(--basic-background);
}
.scnd-title{
    font-size: 44;
    font-weight: 900;
    text-transform: uppercase;
}
.scnd-title,
.scnd-button{
    color: var(--basic-title);
}
.scnd-button{
    background-color: var(--secondary-color);
}
span{
    color: var(--basic-text);
}
footer{
    background-color: var(--basic-background);
}
.footer{
    color: var(--footer-text-color);
}
.address{
    color: var(--basic-title);
}
.ul-nav{
    display: flex;

}
.header-ul{
    display: flex;
}
.port-button{
    display: flex;
}